
# --- Required variables ------------

# Google Cloud Platform Configuration
GCP_PROJECT_ID=your-project-id
GCP_REGION=us-central1

# Service Account Email
# Required for generating signed URLs and accessing GCP services
SERVICE_ACCOUNT_EMAIL=service-account-name@project_ID.iam.gserviceaccount.com

# Cloud Storage Buckets
# Format: {project-id}-videos-source and {project-id}-videos-processed
SOURCE_BUCKET_NAME=your-project-id-videos-source
PROCESSED_BUCKET_NAME=your-project-id-videos-processed

# Application Configuration
PORT=8080
ENVIRONMENT=dev  # dev, staging, production



# --- Optional variables ------------

# Firestore Configuration
# If you have multiple Firestore databases, specify the database name
# Leave empty or use "(default)" for the default database
FIRESTORE_DATABASE_ID=(default)

# Logging
LOG_LEVEL=info  # debug, info, warn, error

# Upload Configuration
MAX_UPLOAD_SIZE_MB=500
ALLOWED_VIDEO_FORMATS=mp4,mov,avi,mkv
UPLOAD_URL_EXPIRY_HOURS=1

#Pub/sub Configuration
PubSubVideoUploadedTopic=video-uploaded
PubSubProcessingCompleteTopic=video-processing-complete
EnableAutoProcessing=true

TranscoderLocation=us-central1
TranscoderTemplateID=hls-adaptive-template